@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

// Main color scheme
$dark-purple: #974BDE;
$light-purple: #AB82DE;
$accent-yellow: #FCF300;
$dark-mode: #171717;
$accedsadsant-yellow: #FCF300;

// Bulma global variables
$family-sans-serif: "Roboto", sans-serif;
$grey-dark: $dark-purple;
$grey-light: $light-purple;
$primary: $dark-purple;
$link: $dark-purple;
$widescreen-enabled: false;
$fullhd-enabled: false;


// Bulma component variables
$background: $dark-mode;
$body-background-color: $dark-mode;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// Navbar customizations
$navbar-background-color: transparent;
$navbar-item-hover-background-color: transparent;
$navbar-item-hover-color: $accent-yellow;

#icon-text {
    font-size: 20px;
    display: inline-block;
    padding: 5px;
    
}

#icon {
    size: "m";
}

#logo-icon {
    height: auto;
    width: auto;
    max-height: 46px;
    max-width: 52px;
}

// Bulma import
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/section.sass";