@charset "utf-8";

// Import a Google Font
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");

// Main color scheme
$dark-purple: #974bde;
$light-purple: #ab82de;
$accent-yellow: #fcf300;
$dark-mode: #171717;
$button-hover: #fff;

// Bulma global variables
$family-sans-serif: "Roboto", sans-serif;
$grey-dark: $dark-purple;
$grey-light: $light-purple;
$primary: $dark-purple;
$link: $dark-purple;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Bulma component variables
$background: $dark-mode;
$body-background-color: $dark-mode;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// Navbar customizations
$navbar-background-color: transparent;
$navbar-item-hover-background-color: transparent;
$navbar-item-hover-color: $link;
$navbar-burger-color: $link;
$text: #fff;

// Hero
$title-color: #fff;
$title-hover-color: $accent-yellow;
$subtitle-color: $link;

// footer
$footer-background-color: transparent;
$button-hover-color: $button-hover;
$button-background-color: $dark-mode;
$button-color: $link;
$button-border-color: transparent;
$button-hover-border-color: transparent;

#portfolio-text:hover {
    color: $link;
}

#icon-text {
    font-size: 20px;
    display: inline-block;
    padding: 5px;
    font-weight: regular;
}

#bottom-foot {
    display: block;
}

#hr-line {
    border-top: 1px solid #303030;
}

.icon:hover {
    color: $link;
}

.slogan-logo {
    display: block;
    margin-top: 5px;
    margin-bottom: 7px;
    padding: 48px 24px

}

.slogan {
    font-size: 12px;
    line-height: 25px;
    margin: 0 0 35px;
    width: 140px;
}

.slogan-ownership {
    color: #999999;
    font-size: 12px;
    line-height: 25px;
    margin: 0 0 35px;
    width: 140px;
}

.menu--dustu .menu__item {
    display: inline-block
}

.menu--dustu .menu__item-name {
    font-size: 20px;
    display: inline-block;
    padding: 5px;
    font-weight: regular;
}



.menu__item-name,.menu__item-label {
    position: relative;
    display: inline-block
}

.menu--dustu .menu__item-name {

    overflow: hidden;
    padding: 0 .25em;
}

.menu--dustu .menu__item-name:before,.menu--dustu .menu__item-name:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $button-hover;
    transform: translate3d(-100%,0,0) translate3d(-1px,0,0);
    transition: transform .7s;
    transition-timing-function: cubic-bezier(.7,0,.3,1);
}

.menu--dustu .menu__item:hover .menu__item-name:before,.menu--dustu .menu__item.hover .menu__item-name:before {
    transform: translate3d(100%,0,0) translate3d(1px,0,0)
}

.menu--dustu .menu__item:hover .menu__item-name:after,.menu--dustu .menu__item.hover .menu__item-name:after {
    transform: translate3d(0,0,0)
}

.menu--dustu .menu__item-name:after {
    top: calc(50% - 2px);
    height: 4px
}

// Bulma import
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/layout/footer.sass";
@import "../node_modules/bulma/sass/helpers/typography.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/elements/icon.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/grid/_all.sass";
@import "../node_modules/bulma/sass/grid/columns.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/section.sass";
